.modal {
  font-size: 0.9rem;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 1.4rem;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.button {
  width: 35%;
  padding: 5px;
  margin: 5px;
  border: 0;
  border-radius: 15px;
  color: white;
  font-size: 1.2rem;
  background-color: red;
}

.button.btn-cancel {
  background-color: #707070;
}

input[type='file'] {
  display: none;
}
.custom-file-upload {
  display: inline-block;
  padding: 10px;
  margin: 10px 5px 10px 0px;
  border: 0;
  border-radius: 15px;
  color: white;
  font-size: 1.2rem;
  background-color: red;
  text-decoration: none;
  cursor: pointer;
}
